.form-container__title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 54px;
    min-height: auto;
    padding-bottom: 87px;
    padding-top: 101px;
    width: 100%;

    &::after {
      background-image: url("../img/decor/big-wave.svg");
      background-repeat: repeat-x;
      bottom: 0;
      content: "";
      height: 24px;
      position: absolute;
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 98px;
    padding-bottom: 113px;

    &::after {
      background-image: url("../img/decor/big-wave-desktop.svg");
      height: 34px;
    }
  }
}


.form-container__description {
  @include open-sans;
  color: $additional-text-color;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 29px;
  margin-top: 17px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 13px;
    margin-top: 0;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
    padding: 0;
    width: 702px;
  }
}
