.header-container {
  display: flex;
  flex-direction: column;
}

.header-container__title {
  text-align: center;
  padding: 73px 30px 120px;
  margin: 0;
  background-image: url("../img/hero-mobile@2x 1.jpg");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  background-size: cover;
}

.header-container__menu-item {
  display: flex;
  min-height: 103px;
  padding: 0 30px;
  align-items: center;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  position: relative;

  &:last-child {
    margin-bottom: 31px;
  }

  &--option-one {
    background-color: rgba(99, 209, 187, 1);
    background-image: url("../img/svg/interior.svg.svg");
    background-repeat: no-repeat;
    background-position: 88% 50%;
  }

  &--option-two {
    background-color: rgba(86, 195, 178, 1);
    background-image: url("../img/svg/toy-svg.svg");
    background-repeat: no-repeat;
    background-position: 88% 50%;
  }
}
