.catalog__title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin: 0;
  margin-bottom: 30px;
}

.catalog__product-list {
  list-style: none;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    padding-bottom: 53px;
  }


  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 53px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
  }
}

.catalog__product-card {
  min-height: 374px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 334px;
    width: 668px;
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    width: auto;
    min-height: 659px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.catalog__product-link {
  text-decoration: none;
  color: $additional-text-color;
  cursor: pointer;
}

.catalog__product-image {
  min-height: 195px;
  display: block;
  background-color: $additional-color;

  @media (min-width: $tablet-width) {
    min-height: 100%;
  }

  @media (min-width: $desktop-width) {
    height: 462px;
  }
}

.catalog__product-about {
  outline: 1px solid $catalog-stroke-color;
  outline-offset: -1px;

  &:hover {
    box-shadow: $catalog-shadow-hover;
  }

  &:active {
    box-shadow: $catalog-shadow-active;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.catalog__product-name {
  @include open-sans-bold;
  color: $main-text-color;
  display: block;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 28px 28px 0;
  margin-bottom: 5px;
  text-decoration: none;
}

.catalog__product-name--big-name {
  padding-top: 25px;
  margin-bottom: 10px;
}

.catalog__product-description {
  @include open-sans;
  font-size: 13px;
  line-height: 30px;
  margin: 0 28px;
  padding-bottom: 17px;
  box-shadow: 0 1px 0 0 $catalog-stroke-color;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.catalog__product-price {
  @include open-sans-bold;
  font-size: 15px;
  margin: 0;
  line-height: 24px;
  text-decoration: none;
  color: $main-text-color;
  padding: 0 0 0 30px;
  display: flex;
  min-height: 73px;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}

.catalog__product-button {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 22px 26px;
  justify-content: space-between;
  cursor: pointer;
  fill: $catalog-button-icon-color;

  &:hover {
    fill: $catalog-button-icon-hover-color;
  }

  &:active {
    fill: $catalog-button-icon-active-color;
  }

  &:disabled {
    fill: $catalog-button-icon-disabled-color;
    cursor: not-allowed;
  }
}
