.demonstration__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 58px;
  outline: 1px solid $catalog-stroke-color;
  outline-offset: -1px;

  &:hover {
    box-shadow: $catalog-shadow-hover;
  }

  &:active {
    box-shadow: $catalog-shadow-active;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 64px;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 51px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(144px, max-content) minmax(200px, max-content) minmax(112px, max-content);
    margin-bottom: 105px;
    width: 1050px;
  }
}


.demonstration__title {
  @include open-sans-bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 26px;
  margin-left: 91px;
  margin-top: 22px;
  order: 1;
  position: relative;

  &::after {
    background-image: url("../img/decor/video/demonstration-icon.svg");
    background-repeat: no-repeat;
    content: "";
    height: 22px;
    left: -41px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }

    &::after {
      left: -49px;
      top: 38%;
    }
    background-position: 42px 39px;
    display: flex;
    font-size: 20px;

    margin: 41px 107px 25px 107px;
  }

  @media (min-width: $desktop-width) {
    br {
      display: block;
    }

    &::after {
      left: 0;
      top: 0;
      transform: translate(0, 0);
    }
    height: min-content;

    margin: 0 0 0 28px;
    margin-top: auto;
    padding-top: 49px;
  }
}

.demonstration__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  order: 3;
  padding-bottom: 41px;
  padding-left: 34px;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    font-size: 15px;
    height: max-content;
    line-height: 30px;
    margin: 0;
    padding: 0 40px 40px;
  }

  @media (min-width: $desktop-width) {
    height: min-content;
    margin-bottom: auto;
    padding: 27px 0 0 28px;
  }
}

.demonstration__video-box {
  align-items: center;
  background-color: #ececec;
  background-image: url("../img/decor/video/mobile/video-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 150px;
  order: 2;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/decor/video/mobile/video-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/decor/video/tablet/video-tablet.jpg");
    height: 455px;
    order: -1;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/video/tablet/video-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/decor/video/desktop/video-desktop.jpg");
    grid-column: 1 / 3;
    grid-row: 1 / 4;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/video/desktop/video-desktop@2x.jpg");
    }
  }
}


.demonstration__video {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.demonstration__video--started {
  background-image: none;
  z-index: 1;
}

.demonstration__play {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  left: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(120%);
  }

  &:active {
    opacity: 30%;
    transform: translate(-50%, -50%) scale(80%);
  }
}

.demonstration__play--video-started {
  display: none;
}

.demonstration__order-button {
  margin: 0 34px 33px;
  order: 4;

  @media (min-width: $tablet-width) {
    margin: 0 42px 46px;
  }

  @media (min-width: $desktop-width) {
    height: min-content;
    margin: 0;
    margin-bottom: auto;
    margin-left: 28px;
    width: 230px;
  }
}
