.demonstration__wrapper {
  margin: 0 30px;
  outline: 1px solid $catalog-stroke-color;
  outline-offset: -1px;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: $catalog-shadow-hover;
  }

  &:active {
    box-shadow: $catalog-shadow-active;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 668px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    display: grid;
    column-gap: 51px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}


.demonstration__title {
  @include open-sans-bold;
  padding-left: 91px;
  font-size: 17px;
  line-height: 24px;
  background-image: url("");
  order: 1;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.demonstration__description {
  order: 3;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
    margin: 0;
    height: max-content;
    flex-grow: 1;
  }
}

.demonstration__video {
  display: flex;
  min-height: 150px;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  order: 2;

  @media (min-width: $tablet-width) {
    height: 455px;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
}

.demonstration__play {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    transform: scale(120%);
  }

  &:active {
    transform: scale(80%);
    opacity: 30%;
  }
}

.demonstration__order-button {
  margin-bottom: 33px;
  order: 4;
}
