.button-default {
  @include open-sans-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  background-color: $default-button-background-color;
  color: $default-button-text-color;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline-offset: -2px;
  outline: 2px solid $default-button-stroke-color;
  padding: 0;
  cursor: pointer;

  &:hover {
    background-color: $default-button-background-hover-color;
    color: $default-button-text-hover-color;
  }

  &:active {
    background-color: $default-button-background-active-color;
    color: $default-button-text-active-color;
  }

  &:disabled {
    background-color: $default-button-background-disabled-color;
    outline: 2px solid $default-button-stroke-disabled-color;
    color: $default-button-text-disabled-color;
    cursor: not-allowed;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.default-sign {
  @include open-sans-bold;
  padding-bottom: 18px;
  color: $product-of-the-week-sign-color;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    width: 100px;
    text-align: center;
    padding-right: 13px;
    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: calc(175px / 2);
    transform: translateX(-50%);
    padding-right: 13px;
    padding-bottom: 7px;
  }
}
