$mobile: 320px;
$mobile-container: 260px;
$menu-shadow: 0 1px 0 rgba(236, 236, 236, 1), inset 0 1px 0  rgba(236, 236, 236, 1);
$catalog-shadow-hover: 0 6px 10px rgba(0, 0, 0, 0.1);
$catalog-shadow-active: 0 3px 5px rgba(0, 0, 0, 0.1);
$modal-shadow: 0 5px 10px 0 rgba(#000101, 25%);
$menu-button-height: 103px;

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

@mixin open-sans {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 400;
}

@mixin open-sans-bold {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 700;
}

@mixin align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
