$main-text-color: #000000;
$additional-text-color: #444444;
$brand-color: #63d1bb;
$menu-button-color: #63d1bb;
$color: #59d5bc;
$additional-menu-button-color: #56c3b2;
$additional-menu-button-hover: #46c1ae;
$additional-menu-button-decor-color: #149080;
$additional-color: #f1f1f1;
$color-background: #ffffff;
$default-button-stroke-color: #444444;
$default-button-text-color: #444444;
$color: #ececec;
$color: #231f20;
$color: #62d1ba;
$color: #6bc6b3;
$color: #c6c6c6;
$color: #f9f9f9;
$color: rgba(255, 255, 255, 75%);
$color: #e5e5e5;
$color: rgba(255, 255, 255, 0%);
$color: #eeeeee;
$color: rgba(0, 0, 0, 30%);
$color: rgba(68, 68, 68, 30%);
$color: rgba(255, 255, 255, 0.01%);

