.modal-container {
  background-color: $modal-fade-color;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150000;
}

.modal-container--closed {
  display: none;
}

.modal-container__wrapper {
  background-color: $modal-background-color;
  box-shadow: $modal-shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-width: 566px;
  outline: 1px solid $modal-stroke-color;
  padding: 28px 30px 46px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.modal-container__title {
  margin: 28px 0 14px 0;
  text-align: center;
  text-transform: uppercase;
}

.modal-container__description {
  @include open-sans;
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 22px;
  text-align: center;
}

.modal-container__options {
  display: flex;
  flex-direction: column;
}

.modal-container__buttons {
  border: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.modal-container__buttons-item {
  display: flex;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.modal-container__buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-container__buttons-legend {
  display: none;
}

.modal-container__input {
  display: none;

  &:checked + label {
    border: 2px solid $modal-button-active-color;
  }
}

.modal-container__label {
  @include open-sans-bold;
  align-items: center;
  border: 2px solid $modal-button-color;
  display: flex;
  font-size: 17px;
  height: 48px;
  justify-content: center;
  line-height: 16px;
  max-width: 112px;
  min-width: 78px;

  &:hover {
    border: 2px solid $modal-button-hover-color;
  }

  &:active {
    border: 2px solid$modal-button-active-color;
  }
}

.modal-container__submit {
  background-color: $modal-submit-button-background-color;
  color: $modal-submit-button-text-color;
  font-size: 17px;
  line-height: 16px;
  margin: 0 auto;
  max-width: 350px;
  min-width: 260px;
  outline: none;

  &:hover {
    background-color: $modal-submit-button-background-hover-color;
    color: $modal-submit-button-text-hover-color;
  }

  &:active {
    background-color: $modal-submit-button-background-active-color;
    color: $modal-submit-button-text-active-color;
  }

  &:disabled {
    background-color: $modal-submit-button-background-disabled-color;
    color: $modal-submit-button-text-disabled-color;
  }
}
