.additional-list {
  display: none;
  list-style: none;
  padding: 0;
  z-index: 101;

  @media (min-width: $desktop-width) {
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    left: 0;
    margin: 0;
    max-width: 50%;
    padding: 0;
    position: absolute;
    transform: translateY(100%);
  }
}

.additional-list__item {
  display: flex;
  margin-right: 45px;
  place-items: center;

  @media (min-width: $desktop-width) {
    margin-right: 62px;
    min-height: 65px;
  }
}

.additional-list__link {
  @include open-sans-bold;
  color: $main-text-color;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    color: $big-link-hover-color;
  }

  &:active {
    color: $big-link-active-color;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    display: flex;
    height: 100%;
  }
}
