.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__wrapper {
  padding: 0 30px;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    width: calc(350px * 2);
    margin: auto;
    padding: 0;
  }
}

.advantages__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 83px;

  &:nth-child(1) {
    background-image: url("../img/decor/advantages/advantages-icon-1.svg");
    background-repeat: no-repeat;
    background-position: 4% 31%;
  }

  &:nth-child(2) {
    background-image: url("../img/decor/advantages/advantages-icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 28%;
  }

  &:nth-child(3) {
    background-image: url("../img/decor/advantages/advantages-icon-3.svg");
    background-repeat: no-repeat;
    background-position: 3% 33%;
  }

  &:nth-child(4) {
    background-image: url("../img/decor/advantages/advantages-icon-4.svg");
    background-repeat: no-repeat;
    background-position: 1% 33%;
  }

  &:nth-child(5) {
    background-image: url("../img/decor/advantages/advantages-icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 30%;
  }

  &:nth-child(6) {
    background-image: url("../img/decor/advantages/advantages-icon-6.svg");
    background-repeat: no-repeat;
    background-position: 1% 30%;
  }

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    margin-bottom: 0;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

.advantages__description {
  @include open-sans-bold;
  color: $advantages-text-color;
  font-size: 17px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

// .advantages__icon {
//   fill: $advantages-icon-color;
// }

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
