.advantages__wrapper {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__item {
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 25px;
    transform: translateY(-100%) translateX(-50%);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  &:nth-child(1)::before {
    background-image: url("../img/decor/advantages/advantages-icon-1.svg");
    height: 38px;
    width: 33px;
  }

  &:nth-child(2)::before {
    background-image: url("../img/decor/advantages/advantages-icon-2.svg");
    height: 27px;
    width: 47px;
    top: -26px;
  }

  &:nth-child(3)::before {
    background-image: url("../img/decor/advantages/advantages-icon-3.svg");
    height: 27px;
    width: 34px;
  }

  &:nth-child(4)::before {
    background-image: url("../img/decor/advantages/advantages-icon-4.svg");
    height: 34px;
    width: 35px;
    left: 20px;
  }

  &:nth-child(5)::before {
    background-image: url("../img/decor/advantages/advantages-icon-5.svg");
    height: 23px;
    width: 55px;
    left: 20px;
    top: -26px;
  }

  &:nth-child(6)::before {
    background-image: url("../img/decor/advantages/advantages-icon-6.svg");
    width: 33px;
    height: 32px;
    left: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 0;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

.advantages__description {
  @include open-sans-bold;
  color: $advantages-text-color;
  font-size: 17px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  margin-top: 82px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 83px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 110px;
    margin-top: 97px;
    margin-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    width: calc(350px * 2);
  }
}
