.contacts {
  display: flex;
  flex-direction: column;
}


.contacts__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    min-height: 457px;
    margin-bottom: 105px;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    width: 350px;
    min-height: 457px;
    justify-content: flex-end;
    align-items: center;
  }
}

.contacts__name-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    place-items: center;
    margin-right: auto;
    margin-top: 79px;
    margin-bottom: 25px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: min-content;
    font-size: 43px;
    line-height: 50px;
    height: 100%;
    padding: 0;
    margin-top: auto;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 62px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0;
    font-size: 17px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: auto;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  color: $additional-text-color;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.contacts__type {
  width: 30%;

  @media (min-width: $tablet-width) {
    width: 23%;
  }

  @media (min-width: $desktop-width) {
    width: 22%;
  }
}

.contacts__information {
  width: 70%;

  @media (min-width: $tablet-width) {
    width: 77%;
  }

  @media (min-width: $desktop-width) {
    width: 78%;
  }
}

.contacts__information--email-link {
  color: $email-color;
  text-underline-offset: 5px;
  text-decoration-color: $email-stroke-color;

  &:hover {
    color: $email-hover-color;
    text-decoration-color: $email-hover-stroke-color;
  }

  &:active {
    color: $email-active-color;
    text-decoration-color: $email-active-stroke-color;
  }

  @media (min-width: $tablet-width) {
    text-underline-offset: 10px;
  }

  @media (min-width: $desktop-width) {
    text-underline-offset: 13px;
  }
}

.contacts__map {
  height: 455px;
  margin-bottom: 40px;
  margin-left: -30px;
  margin-right: -30px;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    width: 525px;
    height: 457px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    margin-bottom: 0;
    display: flex;
  }
}

.contacts__sign {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    background-image: url("../img/decor/contacts/flag.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 81px;
    padding: 0;
    padding-right: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
    padding-right: 3px;
  }
}

.contacts__feedback {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    height: 50px;
    margin-top: auto;
    margin-right: auto;
  }
}
