.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
    min-height: 457px;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    align-items: center;
    justify-content: flex-end;
    min-height: 457px;
    width: 350px;
  }
}

.contacts__name-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    margin-right: auto;
    margin-top: 79px;
    place-items: center;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    height: 100%;
    line-height: 50px;
    margin-bottom: 9px;
    margin-top: auto;
    padding: 0;
    width: 600px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    width: 350px;
  }
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  list-style: none;
  margin-bottom: 62px;
  margin-top: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    font-size: 17px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-bottom: 49px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 30px;
    grid-template-columns: 1fr;
    margin-bottom: auto;
  }
}

.contacts__item {
  color: $additional-text-color;
  display: flex;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.contacts__type {
  width: calc(30% - 1px);

  @media (min-width: $tablet-width) {
    width: 23%;
  }

  @media (min-width: $desktop-width) {
    width: 22%;
  }
}

.contacts__information {
  width: calc(70% + 1px);

  @media (min-width: $tablet-width) {
    width: 77%;
  }

  @media (min-width: $desktop-width) {
    width: 78%;
  }
}

.contacts__information--email-link {
  color: $email-color;
  text-decoration-color: $email-stroke-color;
  text-underline-offset: 5px;

  &:hover {
    color: $email-hover-color;
    text-decoration-color: $email-hover-stroke-color;
  }

  &:active {
    color: $email-active-color;
    text-decoration-color: $email-active-stroke-color;
  }

  @media (min-width: $tablet-width) {
    text-underline-offset: 10px;
  }

  @media (min-width: $desktop-width) {
    text-underline-offset: 13px;
  }
}

.contacts__map-container {
  background-image: url("../img/decor/map/tablet/map-tablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  display: block;
  height: 455px;
  margin-bottom: 40px;
  margin-left: -30px;
  margin-right: -30px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/decor/map/tablet/map-tablet@2x.jpg");
  }

  &::after {
    background-image: url("../img/decor/map/map-pin.svg");
    content: "";
    height: 100px;
    left: 53%;
    position: absolute;
    top: 43%;
    transform: translate(-50%, -50%);
    width: 67px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/decor/map/tablet/map-tablet.jpg");
    margin-bottom: 57px;
    margin-left: -50px;
    margin-right: -50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/map/tablet/map-tablet@2x.jpg");
    }

    &::after {
      left: 52%;
      top: 42%;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/decor/map/desktop/map-desktop.jpg");
    bottom: 0;
    display: flex;
    height: 457px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    width: 525px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/map/desktop/map-desktop@2x.jpg");
    }

    &::after {
      left: 52%;
      top: 43%;
    }
  }
}

.contacts__map-container--nojs {
  &::after {
    z-index: 1;
  }
}

.contacts__map {
  border: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.contacts__sign {
  display: none;

  @media (min-width: $tablet-width) {
    background-image: url("../img/decor/contacts/flag.svg");
    background-repeat: no-repeat;
    display: flex;
    height: 81px;
    padding: 0;
    padding-right: 3px;
    width: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
    padding-right: 3px;
  }
}

.contacts__feedback {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: auto;
    margin-top: auto;
    min-height: 50px;
  }
}
