.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    padding-right: 0;
    margin-right: 50px;
    width: 350px;
    min-height: 457px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contacts__title {
  margin: 0 30px 28px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    width: 350px;
  }
}

.contacts__list {
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  margin-bottom: 62px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-template-columns: 1fr;
    width: 350px;
    gap: 30px;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  color: $additional-text-color;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.contacts__type {
  width: 30%;
}

.contacts__information {
  width: 70%;
}

.contacts__information--email-link {
  color: $email-color;
  text-underline-offset: 5px;
  text-decoration-color: $email-stroke-color;

  &:hover {
    color: $email-hover-color;
    text-decoration-color: $email-hover-stroke-color;
  }

  &:active {
    color: $email-active-color;
    text-decoration-color: $email-active-stroke-color;
  }
}

.contacts__map {
  height: 455px;
  width: 100%;
  background-color: $brand-color;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
    position: absolute;
    right: 50px;
  }
}

.contacts__feedback {
  margin: 0 30px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 55px auto 61px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    height: 50px;
  }
}
