.header-container {
  background-color: $side-background-color;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      background-image: url("../img/decor/big-wave.svg");
      background-repeat: repeat-x;
      bottom: 0;
      content: "";
      height: 24px;
      position: absolute;
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      background-image: url("../img/decor/big-wave-desktop.svg");
      height: 34px;
    }
  }
}

.header-container__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.header-container__hero {
  background-color: #f9f9f9;
  background-image: url("../img/content/hero/mobile/hero-mobile.jpg");
  background-position: center -18px;
  background-repeat: no-repeat;
  background-size: 320px auto;
  min-height: 283px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/hero/mobile/hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/content/hero/desktop/hero-desktop.jpg");
    background-position: center 0;
    background-size: 1150px;
    min-height: 626px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/hero/desktop/hero-desktop@2x.jpg");
    }
  }
}

.header-container__title {
  margin: 0 auto;
  padding: 0;
  padding-top: 73px;
  text-align: center;
  width: 80%;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 155px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 155px;
  }
}

.header-container__menu-buttons {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-container__menu-link {
  align-items: center;
  color: $menu-button-font-color;
  display: flex;
  fill: $additional-menu-button-decor-color;
  font-size: 19px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 24px;
  min-height: 96px;
  padding: 0 30px 7px;
  position: relative;
  text-align: left;
  text-decoration: none;

  &:hover {
    transform: translateY(-5px);
  }

  &:focus {
    outline: none;
    transform: translateY(-5px);
  }

  &--option-one {
    background-color: $menu-button-color;
  }

  &--option-one:hover {
    background-color: $menu-button-hover-color;
    box-shadow: 0 5px 0 0 $menu-button-color;
  }

  &--option-one:focus {
    background-color: $menu-button-hover-color;
    box-shadow: 0 5px 0 0 $menu-button-color;
  }

  &--option-one:active {
    background-color: $menu-button-active-color;
  }

  &--option-one::after {
    background-image: url("../img/decor/menu-buttons-icon/interior-icon.svg");
    background-repeat: no-repeat;
    content: "";
    flex-shrink: 0;
    height: 62px;
    opacity: 0.5;
    width: 40px;
  }

  &--option-one:hover::after {
    opacity: 0.7;
  }

  &--option-one:focus::after {
    opacity: 0.7;
  }

  &--option-one:active::after {
    opacity: 0.3;
  }

  &--option-two {
    background-color: $additional-menu-button-color;
  }

  &--option-two:hover {
    background-color: $additional-menu-button-hover-color;
    box-shadow: 0 5px 0 0 $additional-menu-button-hover-color;
  }

  &--option-two:focus {
    background-color: $additional-menu-button-hover-color;
    box-shadow: 0 5px 0 0 $additional-menu-button-hover-color;
  }

  &--option-two:active {
    background-color: $additional-menu-button-hover-color;
  }

  &--option-two::after {
    background-image: url("../img/decor/menu-buttons-icon/toy-icon.svg");
    background-repeat: no-repeat;
    content: "";
    flex-shrink: 0;
    height: 60px;
    opacity: 0.5;
    width: 60px;
  }

  &--option-two:hover::after {
    opacity: 0.7;
  }

  &--option-two:focus::after {
    opacity: 0.7;
  }

  &--option-two:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 113px;
    padding: 0 36px 19px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px 22px;
  }
}
