.main-nav {
  background-color: $color-background;
  min-height: 80px;
  z-index: 100;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #ececec;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #ececec;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
}

.main-nav--nojs .main-nav__list {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav--opened .main-nav__wrapper {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.main-nav__link {
  display: flex;
  fill: $header-logo-color;
  justify-content: center;
  min-height: 79px;
  place-items: center;
  width: 100%;

  &:hover {
    opacity: 70%;
  }

  &:focus {
    opacity: 70%;
    outline: none;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    height: 100%;
    justify-content: flex-start;
    min-height: 88px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.main-nav__link--current {
  pointer-events: none;
}

.main-nav__icon {
  fill: inherit;
  margin: auto;
}

.main-nav__menu-button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px;
  position: absolute;
  right: 0;
  z-index: 102;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__menu-toggle--open {
  display: none;
  position: absolute;
}

.main-nav--closed .main-nav__menu-toggle--open {
  display: block;
}

.main-nav--nojs .main-nav__menu-toggle--open {
  display: none;
}

.main-nav__menu-toggle--close {
  display: block;
  position: absolute;
}

.main-nav--closed .main-nav__menu-toggle--close {
  display: none;
}

.main-nav--nojs .main-nav__menu-toggle--close {
  display: none;
}

.main-nav__logo {
  align-items: center;
  box-shadow: $menu-shadow;
  display: flex;
  position: relative;
  z-index: 101;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    order: 3;
    position: absolute;
    transform: translateX(-50%);
    width: 150px;
  }
}

.main-nav__label {
  display: none;
  z-index: 101;

  @media (min-width: $tablet-width) {
    bottom: 0;
    display: flex;
    min-height: 65px;
    order: 3;
    place-items: center;
    position: absolute;
    right: 0;
    transform: translateY(100%);
  }

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 24px;
    max-width: 50%;
  }
}
