.main-nav {
  z-index: 100;
  background-color: $color-background;
  min-height: 80px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #ececec;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #ececec;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 668px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
}

.main-nav--no-js .main-nav__list {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.main-nav__link {
  width: 100%;
  min-height: 79px;
  display: flex;
  place-items: center;
  justify-content: center;
  fill: $header-logo-color;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    min-height: 88px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }

  &:hover {
    fill: $header-logo-color-hover;
  }

  &:active {
    fill: $header-logo-color-active;
  }
}

.main-nav__icon {
  margin: auto;
  fill: inherit;
}

.main-nav__menu-toggle {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  right: 0;
  display: flex;
  padding: 32px 31px 33px 31px;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  z-index: 102;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__logo {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: $menu-shadow;
  z-index: 101;

  @media (min-width: $tablet-width) {
    width: max-content;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }
}

.main-nav__label {
  display: none;
  z-index: 101;

  @media (min-width: $tablet-width) {
    display: flex;
    order: 3;
    place-items: center;
    min-height: 65px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 24px;
    max-width: 50%;
  }
}
