.page__body {
  @include open-sans;
  margin: 0 auto;
  min-width: $mobile;
  width: $mobile;

  // @media (min-width: $tablet-width) {
  //   width: $tablet-width;
  // }

  // @media (min-width: $desktop-width) {
  //   width: $desktop-width;
  // }
}
