.product-appearance {
  align-items: center;
  color: $additional-text-color;
  display: flex;
  font-size: 15px;
  line-height: 20px;
  min-height: 40px;
  position: relative;

  &::after {
    background-color: $product-of-the-week-table-divider-color;
    bottom: -2px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    box-shadow: none;

    &::after {
      bottom: -4px;
    }
  }
}

.product-appearance__type {
  margin: 0;
  padding: 0;
  width: 38%;

  @media (min-width: $tablet-width) {
    width: 33.33%;
  }
}

.product-appearance__description {
  margin: 0;
  padding: 0;
  width: 62%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}
