.product-of-the-week {
  &::after {
    background-image: url("../img/decor/wave-small-mobile.svg");
    content: "";
    display: block;
    height: 6px;
    margin-bottom: 31px;
    margin-top: 36px;
    width: 100%;

    @media (min-width: $tablet-width) {
      background-image: url("../img/decor/wave-small-tablet.svg");
      height: 17px;
      margin-bottom: 55px;
      margin-top: 52px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/decor/wave-small-desktop.svg");
      height: 23px;
      margin-bottom: 68px;
      margin-top: 73px;
    }
  }
}

.product-of-the-week__name-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-top: 39px;
    place-items: center;

    @media (min-width: $desktop-width) {
      margin-bottom: 35px;
      margin-top: 116px;
    }
  }
}

.product-of-the-week__title {
  margin: 0;
  padding-bottom: 4px;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.product-of-the-week__sign {
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
  }
}

.product-of-the-week__description {
  @include open-sans;
  color: $additional-text-color;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 36px;
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
    margin-bottom: 50px;
    width: 292px;
  }
}

.product-of-the-week__photo {
  display: block;
  height: 315px;
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    bottom: 0;
    height: 404px;
    position: absolute;
    right: 0;
    width: 50%;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    height: 636px;
    width: 525px;
  }
}

.product-of-the-week__buy-section {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 292px;
  }
}

.product-of-the-week__order {
  width: 100%;
}

.product-of-the-week__price {
  @include open-sans-bold;
  color: $product-of-the-week-price-color;
  font-size: 17px;
  line-height: 24px;
  padding: 28px 0 23px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 57px 0 33px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
  }
}

.product-of-the-week__table {
  border-spacing: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    width: 292px;
  }
}
