.reviews {
  display: flex;
  flex-direction: column;

  &::after {
    background-image: url("../img/decor/wave-small-mobile.svg");
    content: "";
    display: block;
    height: 6px;
    margin-bottom: 38px;
    margin-top: 45px;
    width: 100%;

    @media (min-width: $tablet-width) {
      background-image: url("../img/decor/wave-small-tablet.svg");
      height: 17px;
      margin-bottom: 44px;
      margin-top: 68px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/decor/wave-small-desktop.svg");
      height: 23px;
      margin-bottom: 71px;
      margin-top: 67px;
    }
  }
}

.reviews__wrapper {
  @media (min-width: $tablet-width) {
    background-image: url("../img/decor/reviews/tablet/review-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    padding: 0 50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/reviews/tablet/review-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/decor/reviews/desktop/review-desktop.jpg");
    padding: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/reviews/desktop/review-desktop@2x.jpg");
    }
  }
}

.reviews__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
}


.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 78px;
    order: 1;
    width: 480px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 36px;
    width: 680px;
  }
}

.reviews__text {
  @include open-sans;
  color: $additional-text-color;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin: 0;
    order: 3;
    padding-bottom: 61px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}

.reviews__br-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.reviews__br-desktop {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.reviews__author-section {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 4;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}

.reviews__author {
  @include open-sans-bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0 auto;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding-bottom: 0;
  }
}

.reviews__contacts {
  @include open-sans;
  font-size: 17px;
  line-height: 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}

.reviews__toggles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    column-gap: 37px;
    grid-template-columns: 50px 50px;
    height: 58px;
    margin-right: 19px;
    order: 5;
    place-items: center;
  }
}

.reviews__toggle-button {
  background-color: $reviews-button-background;
  background-image: url("../img/decor/huge-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $reviews-stroke-color;
  cursor: pointer;
  fill: $reviews-arrow-color;
  height: 52px;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
  }
}

.reviews__toggle-button--forward {
  transform: rotate(180deg);
}

.reviews__leave-feedback-button {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    margin-top: auto;
    min-height: 50px;
    order: 2;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
  }
}
