.reviews {
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    background-image: url("../img/zigzag-line.svg");
    height: 6px;
    width: auto;
    margin-top: 46px;
    margin-bottom: 18px;
  }
}

.reviews__wrapper {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-left: 225px;
    margin-right: 50px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    display: flex;
    width: 300px;
    margin: 0;
    order: 1;
    padding-top: 83px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__text {
  @include open-sans;
  color: $additional-text-color;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 61px;
    margin: 0;
    order: 3;
    width: 100%;
  }
}

.reviews__author-section {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 4;
    margin-bottom: 47px;
  }
}

.reviews__author {
  @include open-sans-bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0 auto;
}

.reviews__contacts {
  @include open-sans;
  font-size: 17px;
  line-height: 30px;
  margin: 0 auto;
}

.reviews__toggles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    order: 5;
    width: 137px;
    place-items: center;
  }
}

.reviews__toggle-button {
  background-color: $reviews-button-background;
  border: 1px solid $reviews-stroke-color;
  padding: 0;
  cursor: pointer;
  height: 52px;
  fill: $reviews-arrow-color;

  @media (min-width: $tablet-width) {
    border: none;
    height: 26px;
  }

  &:hover {
    fill: $reviews-arrow-hover-color;
  }

  &:active {
    fill: $reviews-arrow-active-color;
  }

  &:disabled {
    fill: $reviews-arrow-disabled-color;
  }
}

.reviews__button-icon {
  fill: inherit;
}

.reviews__leave-feedback-button {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 175px;
    height: 50px;
    margin-top: auto;
  }
}
