.site-list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 2;
    display: flex;
    justify-content: flex-start;
    min-width: 305px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.site-list__item {
  min-height: 79px;
  text-align: left;
  box-shadow: $menu-shadow;

  @media (min-width: $tablet-width) {
    min-height: auto;
    width: 167px;
  }
}

.site-list__link {
  @include open-sans-bold;
  color: $big-link-color;
  text-decoration: none;
  line-height: 24px;
  font-size: 17px;
  display: flex;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 76px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 15px;
  }

  &:hover {
    color: $big-link-hover-color;
  }

  &:active {
    color: $big-link-active-color;
  }
}
