.site-list {
  margin: 0;
  padding: 0;
  z-index: 101;

  @media (min-width: $tablet-width) {
    bottom: 0;
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: auto auto;
    left: 0;
    max-width: 50%;
    order: 2;
    position: absolute;
    transform: translateY(100%);
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 0;
    max-width: 40%;
    position: static;
    transform: none;
  }
}

.site-list__item {
  box-shadow: $menu-shadow;
  text-align: left;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    min-height: auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 88px;

    &:nth-child(odd) {
      border-right: 1px solid #ececec;
      padding-right: 35px;
    }

    &:nth-child(even) {
      padding-left: 35px;
    }
  }
}

.site-list__link {
  @include open-sans-bold;
  color: $big-link-color;
  display: flex;
  font-size: 17px;
  line-height: 24px;
  min-height: 79px;
  padding-left: 76px;
  place-items: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    min-height: 65px;
    min-width: 167px;
    padding: 0;

    @media (min-width: $desktop-width) {
      font-size: 17px;
      height: 100%;
      line-height: 24px;
      min-height: auto;
      min-width: auto;
    }
  }

  &:hover {
    color: $big-link-hover-color;
  }

  &:focus {
    color: $big-link-hover-color;
    outline: none;
  }

  &:active {
    color: $big-link-active-color;
  }
}
