.site-list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
    max-width: 400px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  @media (min-width: $desktop-width) {
    position: static;
    transform: none;
    grid-column-gap: 0;
  }
}

.site-list__item {
  min-height: 79px;
  text-align: left;
  box-shadow: $menu-shadow;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 88px;

    &:nth-child(odd) {
      padding-right: 35px;
      border-right: 1px solid #ececec;
    }

    &:nth-child(even) {
      padding-left: 35px;
    }
  }
}

.site-list__link {
  @include open-sans-bold;
  color: $big-link-color;
  text-decoration: none;
  line-height: 24px;
  font-size: 17px;
  display: flex;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 76px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 15px;
    min-width: 167px;
    min-height: 65px;
    align-items: center;

    @media (min-width: $desktop-width) {
      min-height: auto;
      min-width: auto;
      height: 100%;
      font-size: 17px;
      line-height: 24px;
    }
  }

  &:hover {
    color: $big-link-hover-color;
  }

  &:active {
    color: $big-link-active-color;
  }
}
