.social {
  background-color: $footer-socials-backgroun-color;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 143px;
  }
}

.social__wrapper {
  align-items: center;
  background-color: $footer-socials-backgroun-color;
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 160px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    column-gap: 122px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    min-height: 143px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 312px;
    max-width: 1050px;
  }
}

.social__list {
  display: grid;
  gap: 29px;
  grid-template-columns: 28px 28px 28px;
  grid-template-rows: repeat(auto, 29px);
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}

.social__item {
  fill: $social-color;

  &:hover {
    fill: $social-hover-color;
  }

  &:active {
    fill: $social-active-color;
  }
}

.social__home-link {
  display: none;
  fill: $social-color;

  &:hover {
    fill: $social-hover-color;
  }

  &:active {
    fill: $social-active-color;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.social__link {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  place-content: center;
  width: 100%;
}

.social__logo {
  fill: inherit;
}

.social__developer {
  align-items: center;
  border-top: 1px solid $developer-divider;
  display: flex;
  fill: $developer-color;
  height: calc(100% - 1px);
  justify-content: center;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    border: none;
    margin-bottom: 10px;
  }

  &:hover {
    fill: $developer-hover-color;
  }

  &:active {
    fill: $developer-active-color;
  }
}

.social__developer-title {
  @include open-sans-bold;
  color: $developer-text-color;
  font-size: 19px;
  line-height: 18px;
  margin: 0;
  padding-right: 26px;
}

.social__developer-icon {
  fill: inherit;
  flex-shrink: 0;
}
