.social {
  width: 100%;
  background-color: $footer-socials-backgroun-color;
}

.social__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 160px;
  background-color: $footer-socials-backgroun-color;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 50px;
    min-height: 143px;
    margin: 0 auto;
    width: calc(100% - 100px);
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;
  min-height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  fill: $social-color;

  &:hover {
    fill: $social-hover-color;
  }

  &:active {
    fill: $social-active-color;
  }
}

.social__home-link {
  display: none;
  fill: $social-color;

  &:hover {
    fill: $social-hover-color;
  }

  &:active {
    fill: $social-active-color;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.social__logo {
  display: block;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  fill: inherit;
}

.social__developer {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  fill: $developer-color;
  border-top: 1px solid $developer-divider;
  width: calc(100% - 60px);
  box-sizing: border-box;

  &:hover {
    fill: $developer-hover-color;
  }

  &:active {
    fill: $developer-active-color;
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.social__developer-title {
  @include open-sans-bold;
  color: $developer-text-color;
  font-size: 19px;
  line-height: 18px;
  margin: 0;
  padding-right: 26px;
}

.social__developer-icon {
  flex-shrink: 0;
  fill: inherit;
}
