.user-list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 1;
    display: flex;
    flex-wrap: grid;
    grid-template-columns: auto auto;
    max-width: 80%;
  }

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.user-list__item {
  text-align: left;
  box-shadow: $menu-shadow;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 82px;
    min-height: 88px;
    border-left: 1px solid #ececec;
    padding-right: 1px;
    flex-grow: 1;
    box-shadow: none;
  }
}

.user-list__link {
  @include open-sans-bold;
  color: $big-link-color;
  text-decoration: none;
  line-height: 24px;
  font-size: 17px;
  display: flex;
  padding-left: 76px;
  fill: $user-list-icon-color;
  position: relative;
  min-height: 79px;
  place-items: center;

  @media (min-width: $tablet-width) {
    place-items: center;
    padding-left: 82px;
  }

  &:hover {
    color: $big-link-hover-color;
    fill: $user-list-icon-color-hover;
  }

  &:active {
    color: $big-link-active-color;
    fill: $user-list-icon-color-active;
  }

  @media (min-width: $tablet-width) {
    min-height: auto;
  }
}

.user-list__icon {
  fill: inherit;
  position: absolute;
  left: 31px;
  top: 50%;
  transform: translateY(-50%);
}


.user-list__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
