.user-list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: grid;
    grid-template-columns: auto auto;
    max-width: 80%;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 40%;
    order: 3;
  }
}

.user-list__item {
  box-shadow: $menu-shadow;
  text-align: left;

  @media (min-width: $tablet-width) {
    border-left: 1px solid #ececec;
    box-shadow: none;
    display: flex;
    flex-grow: 1;
    min-height: 88px;
    min-width: 82px;
    padding-right: 1px;
  }
}

.user-list__link {
  @include open-sans-bold;
  color: $big-link-color;
  display: flex;
  fill: $user-list-icon-color;
  font-size: 17px;
  line-height: 24px;
  min-height: 79px;
  padding-left: 76px;
  place-items: center;
  position: relative;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-left: 82px;
    place-items: center;
  }

  &:hover {
    color: $big-link-hover-color;
    fill: $user-list-icon-color-hover;
  }

  &:focus {
    color: $big-link-hover-color;
    fill: $user-list-icon-color-hover;
    outline: none;
  }

  &:active {
    color: $big-link-active-color;
    fill: $user-list-icon-color-active;
  }

  @media (min-width: $tablet-width) {
    min-height: auto;
  }
}

.user-list__icon {
  fill: inherit;
  left: 31px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.user-list__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
