.button-default {
  @include open-sans-bold;
  align-items: center;
  background-color: $default-button-background-color;
  border: none;
  color: $default-button-text-color;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 20px;
  min-height: 52px;
  outline: 2px solid $default-button-stroke-color;
  outline-offset: -2px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $default-button-background-hover-color;
    color: $default-button-text-hover-color;
  }

  &:active {
    background-color: $default-button-background-active-color;
    color: $default-button-text-active-color;
  }

  &:focus {
    background-color: $default-button-background-hover-color;
    color: $default-button-text-hover-color;
  }

  &:disabled {
    background-color: $default-button-background-disabled-color;
    color: $default-button-text-disabled-color;
    cursor: not-allowed;
    outline: 2px solid $default-button-stroke-disabled-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
